{% extends 'survey1.html' %}

{% block content %}
<!-- progress bar -->
<div class="progress" style="height: 20px;">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Warning striped example"
    style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row align-items-center " style="height: 20px;"></div>

<!-- survay -->
<div class="row align-items-center fs-2 fw-bold " style="height: 80px;">
  <div class="col  text-center text-black "> โรคประจำตัว </div>
</div>
<p class="text-center text-black-50"> เลือกได้มากกว่า 1 อย่าง </p>

<div class="row align-items-center " style="height: 20px;"></div>


<div class="mx-0 mx-sm-auto  ">
  <div class="card w-75 m-auto ">

    <div class="modal-body m-4">
      <!-- body in survey -->

      <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col">
          <div class="card border-0">
            <input type="checkbox" class="btn-check" id="disease1" autocomplete="off">
            <label class="btn btn-outline-warning" for="disease1">
              <img src="https://cdn-icons-png.flaticon.com/512/4850/4850774.png" class="rounded " alt="โรคความดันโลหิตสูง" style="width: 55px;height: 55px;">
              <br>โรคความดันโลหิตสูง
            </label>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <input type="checkbox" class="btn-check" id="disease2" autocomplete="off">
            <label class="btn btn-outline-warning" for="disease2">
              <img src="https://cdn-icons-png.flaticon.com/512/2750/2750349.png" class="rounded " alt="โรคเบาหวาน" style="width: 55px;height: 55px;">
              <br>โรคเบาหวาน
            </label>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <input type="checkbox" class="btn-check" id="disease3" autocomplete="off">
            <label class="btn btn-outline-warning" for="disease3">
              <img src="https://cdn-icons-png.flaticon.com/512/3411/3411755.png" class="rounded " alt="โรคข้อเข่าเสื่อม" style="width: 55px;height: 55px;">
              <br>โรคข้อเข่าเสื่อม
            </label>
          </div>
        </div>

        <div class="col ">
          <div class="card border-0 ">
            <input type="checkbox" class="btn-check" id="disease4" autocomplete="off">
            <label class="btn btn-outline-warning" for="disease4">
              <img src="https://cdn-icons-png.flaticon.com/512/1188/1188114.png" class="rounded " alt="โรคไขมันในเลือดสูง" style="width: 55px;height: 55px;">
              <br>โรคไขมันในเลือดสูง
            </label>
          </div>
        </div>

        <div class="col ">
          <div class="card border-0 ">
            <input type="checkbox" class="btn-check" id="disease5" autocomplete="off">
            <label class="btn btn-outline-warning" for="disease5">
              <img src="https://cdn-icons-png.flaticon.com/512/5935/5935638.png" class="rounded " alt="โรคหัวใจ/หลอดเลือด" style="width: 55px;height: 55px;">
              <br>โรคหัวใจ/หลอดเลือด
            </label>
          </div>
        </div>

        <div class="col ">
          <div class="card border-0 ">
            <input type="checkbox" class="btn-check" id="disease6" autocomplete="off">
            <label class="btn btn-outline-warning" for="disease6">
              <img src="https://cdn-icons-png.flaticon.com/512/2968/2968970.png" class="rounded " alt="โรคอื่น" style="width: 55px;height: 55px;">
              <br>โรคอื่นๆ
            </label>
          </div>
        </div>

      </div>

      <br>
      <p class="text-start "><strong>โรคอื่นๆ (ถ้ามี) :</strong></p>
      <div class="input-group mb-3  m-auto fs-4 ">
        <input type="text" class="form-control " placeholder="เช่น โรคอัลไซเมอร์" aria-label="disease_name" id="disease_name">
      </div>

    </div>

    <div class="card-footer text-end">
      <a href="/elderly/register" class="btn btn-primary">ย้อนกลับ</a>
      <a href="/elderly/register/3" class="btn btn-primary">ถัดไป</a>
      <a href="#" class="btn btn-dark">ยกเลิก</a>
    </div>

  </div>
</div>

{% endblock %}

<!-- 
<div class="container text-center m-auto">
  <div class="row g-2">
    
    <div class="col-6">
      <div class="p-3 border bg-light">
        <div class="card ">
          <div class="form-check m-4">
            <input class="form-check-input" type="checkbox" value="" id="disease1">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
              class="rounded-circle bg-light bg-gradient bg-opacity-75" alt="user" style="width: 55px;height: 55px;">
          </div>
          <p class="text-center text-black fs-4"> โรคความดันโลหิตสูง</p>
        </div>
      </div>
    </div>

    
    <div class="col-6">
      <div class="p-3 border bg-light">
        <div class="card ">
          <div class="form-check m-4">
            <input class="form-check-input" type="checkbox" value="" id="disease2">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
              class="rounded-circle bg-light bg-gradient bg-opacity-75" alt="user" style="width: 55px;height: 55px;">
          </div>
          <p class="text-center text-black fs-4"> โรคเบาหวาน</p>
        </div>
      </div>
    </div>

    
    <div class="col-6">
      <div class="p-3 border bg-light">
        <div class="card ">
          <div class="form-check m-4">
            <input class="form-check-input" type="checkbox" value="" id="disease3">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
              class="rounded-circle bg-light bg-gradient bg-opacity-75" alt="user" style="width: 55px;height: 55px;">
          </div>
          <p class="text-center text-black fs-4"> โรคข้อเข่าเสื่อม</p>
        </div>
      </div>
    </div>

    
    <div class="col-6">
      <div class="p-3 border bg-light">
        <div class="card ">
          <div class="form-check m-4">
            <input class="form-check-input" type="checkbox" value="" id="disease4">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
              class="rounded-circle bg-light bg-gradient bg-opacity-75" alt="user" style="width: 55px;height: 55px;">
          </div>
          <p class="text-center text-black fs-4"> โรคไขมันในเลือดสูง</p>
        </div>
      </div>
    </div>


   
    <div class="col-6">
      <div class="p-3 border bg-light">
        <div class="card ">
          <div class="form-check m-4">
            <input class="form-check-input" type="checkbox" value="" id="disease5">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
              class="rounded-circle bg-light bg-gradient bg-opacity-75" alt="user" style="width: 55px;height: 55px;">
          </div>
          <p class="text-center text-black fs-4"> โรคหัวใจ/หลอดเลือด</p>
        </div>
      </div>
    </div>

   
    <div class="col-6">
      <div class="p-3 border bg-light">
        <div class="card ">
          <div class="form-check m-4">
            <input class="form-check-input" type="checkbox" value="" id="disease6">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
              class="rounded-circle bg-light bg-gradient bg-opacity-75" alt="user" style="width: 55px;height: 55px;">
          </div>
          <div class="input-group mb-3 w-75 m-auto fs-4 ">
            <input type="text" class="form-control " placeholder="โรคอื่นๆ เช่น โรคอัลไซเมอร์" aria-label="name"
              id="name">
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->