{% extends 'survey3.html' %}

{% block content %}
<!-- progress bar -->
<div class="progress" style="height: 20px;">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Warning striped example"
    style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row align-items-center " style="height: 20px;"></div>

<!-- survay -->
<div class="row align-items-center fs-2 fw-bold " style="height: 80px;">
  <div class="col  text-center text-black "> ถ่ายภาพเพื่อจดจำใบหน้า </div>
</div>
<p class="text-center text-black-50"> กรุณามองกล้อง</p>

<div class="row align-items-center " style="height: 20px;"></div>


<div class="mx-0 mx-sm-auto  ">
  <div class="card w-75 m-auto ">

    <div class="modal-body m-4">
      <!-- body in survey -->


    </div>

    <div class="card-footer text-end">
      <a href="/elderly/register/4" class="btn btn-primary">ย้อนกลับ</a>
      <a href="#" class="btn btn-primary">เสร็จสิ้น</a>
      <a href="#" class="btn btn-dark">ยกเลิก</a>
    </div>

  </div>
</div>

{% endblock %}
