{% extends 'survey2.html' %}

{% block content %}
<!-- progress bar -->
<div class="progress" style="height: 20px;">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Warning striped example"
    style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row align-items-center " style="height: 20px;"></div>

<!-- survay -->
<div class="row align-items-center fs-2 fw-bold " style="height: 80px;">
  <div class="col  text-center text-black "> ปัญหาด้านความทรงจำ </div>
</div>
<p class="text-center text-black-50"> เลือกเพียงอย่างใดอย่างหนึ่ง</p>

<div class="row align-items-center " style="height: 20px;"></div>


<div class="mx-0 mx-sm-auto  ">
  <div class="card w-75 m-auto ">

    <div class="modal-body m-4">
      <!-- body in survey -->

      <div class="row row-cols-1 row-cols-md-2 g-4 ">

        <input type="radio" class="btn-check" name="options" id="remember" autocomplete="off" checked>
        <label class="btn btn-outline-success" for="remember">
          <img src="https://cdn-icons-png.flaticon.com/512/4315/4315445.png" class="rounded " alt="remember" style="width: 55px;height: 55px;">
              <br>สามารถจดจำยาที่ทานได้
        </label>
        
        <input type="radio" class="btn-check" name="options" id="notremember" autocomplete="off">
        <label class="btn btn-outline-danger" for="notremember">
          <img src="https://cdn-icons-png.flaticon.com/512/399/399274.png" class="rounded " alt="notremember" style="width: 55px;height: 55px;">
              <br>ไม่สามารถจดจำยาที่ทานได้
        </label>

      </div>
    </div>

    <div class="card-footer text-end">
      <a href="/elderly/register/3" class="btn btn-primary">ย้อนหลับ</a>
      <a href="/elderly/register/5" class="btn btn-primary">ถัดไป</a>
      <a href="#" class="btn btn-dark">ยกเลิก</a>
    </div>

  </div>
</div>

{% endblock %}
